@import url('../../vendor/normalize.css');

@font-face {
    src: url('../font/EpilepsySans.ttf') format('truetype');
    font-family: 'EpilepsySans';
    font-weight: 400;
}

@font-face {
    src: url('../font/EpilepsySansBold.ttf') format('truetype');
    font-family: 'EpilepsySans';
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: EpilepsySans, Arial, sans-serif;
    box-sizing: border-box;
}

.body {
    background-image: url('../images/bg-game.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startGame {
    margin-top: 20px;
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    border: 1px dashed #fff;
    padding: 10px 20px;
}

.gameSettings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team-title {
    font-size: 35px;
}

.team-label {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.team {
    outline: none;
    border: 1px dashed #fff;
    background-color: transparent;
    padding: 0 2px;
}

.loader {
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
    width: 100%;
}

.content.active {
    display: flex;
}

.content-text {
    color: #ff8a4a;
    word-wrap: break-word; /* Разрешаем перенос слов */
    overflow-wrap: break-word; /* Дополнительное свойство для поддержки браузерами */
    max-width: 100%; /* Ограничиваем ширину текста */
    padding-bottom: 2px;
    border-bottom: 1px dashed #ff8a4a;
}

.content-item {
    text-align: center;
}

.content-team {
    background-image: url('../images/list.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 400px;
    padding: 65px 70px 45px;
    overflow: hidden;
}

.content-info {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;  /* для Firefox */
    scrollbar-color: transparent transparent;  /* для Firefox */
}

.content-info::-webkit-scrollbar {
    width: 5px;  /* для WebKit (Chrome, Safari, Edge) */
}

.content-info::-webkit-scrollbar-thumb {
    background-color: transparent;
}


#loader-img {
    width: 160px;
}

.startGame:hover {
    border: 1px solid #fff;
}
